<div class="container my-3">
  <h2>Stupid Couching</h2>
  <p>Ask you coach anything:</p>
  <form action="/answer" data-turbo="false" class="input-group">
      <input type="text" name="question" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-primary input-group-append">
  </form>
</div>
